<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>UTIMCO JSON PARSER</title>

  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>

  <div class="container">
    <div class="row" style="margin:80px 0px">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2 id="title">UTIMCO JSON PARSER</h2>
            <h4 id="subtitle">by fylin134</h4>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <button class="upload-btn btn btn-lg" type="button">Upload Test File</button>
            <h6 id=debug></h6>
            <br></br>

            <input id="input-file" type="file" name="upload">
          </div>
        </div>
      </div>
    </div>

    <div id="resultsContainer">
      <h2 id="titleResults" style="visibility:hidden;">Computing Results</h2>
      <br></br>
      <h3 id="bodyResults"></h3>
      <div class="spinner" style="visibility:hidden;"></div>      
    </div>
  </div>
  </br>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="javascripts/upload.js"></script>
</body>
</html>