<body>
<h1>README</h1>

<h2>To use this web app, browse for a test file and then hit upload.
Once it finishes uploading, the file is parsed and the results are returned at the bottom of the page</h2>

<h3>https://github.com/fylin134/frankutimco</h3>

<button id="back">Go back</button>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="javascripts/readme.js"></script>

</body>
