.btn:focus, .upload-btn:focus{
  outline: 0 !important;
}

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: #0076BF;
}

h1{
  color:white;
}

.upload-btn {
  color:#FFFFFF;
  background-color: #AF5601;
}

.upload-btn:hover {
  color:#FFFFFF;
  background-color: #FA8900;
}

#title,
#subtitle {
  color: #BF5700;
}

.progress-bar {
  background-color: #BF5700;
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 450px;
  }
}

#titleResults,
#bodyResults {
  margin: 0 auto;
  color: white;
}

.spinner {
  margin: 0 auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #BF5700;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }